.heroSection {
    border-bottom: 1px solid red;
    color: var(--font-color);

    h1 {
        font-size: 70px;
    }

}

.portfolioDevelopment {
    color: var(--font-color);
    border-radius: 20px;
    max-width: 1000px;
    margin: 30px auto;
    padding: 16px;
    min-height: 500px;
    background-color: var(--container-color);
}

.portfolioDistribution {
    color: var(--font-color);
    border-radius: 20px;
    max-width: 1000px;
    margin: 30px auto;
    padding: 16px;
    min-height: 500px;
    background-color: var(--container-color);
}

.holdings {
    color: var(--font-color);
    border-radius: 20px;
    max-width: 1000px;
    margin: 30px auto;
    padding: 16px;
    min-height: 500px;
    background-color: var(--container-color);
}

.footer {
    border-top: 1px solid red;
}
